<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
<style>
  :root {
  --base: #555;
  --base-100: #f1f1f1;
  --base-800: #000;
  --yellow: #ffda4b;
  --yellow-50: #fffdf5;
  --yellow-100: #fffbe6;
  --yellow-800: #8b6f00;
  --blue: #0a61ae;
  --blue-100: #e2f8ff;
  --blue-400: #61dafb;
  --blue-800: #0a61a2;
  --blue-900: #001b3b;
  --width: 100px;
  --height: 150px;
  --quantity: 9;
}
.footer {
  background-color: #2d3748;
  color: white;
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  .icon {
    color: white;
    font-size: 2rem;
    transition: color 0.3s;
  }

  .icon:hover {
    color: #6366f1;
  }

}
</style>
<footer class="footer">
  <div>
    <h2>Connect with me</h2>
  </div>
  <div class="icon-container">
    <!-- LinkedIn -->
    <a
      href="https://www.linkedin.com/in/ehthisham-ul-haq-538abb295/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fab fa-linkedin icon"></i>
    </a>
    <!-- GitHub -->
    <a
      href="https://github.com/M-Ehthisham18/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fab fa-github icon"></i>
    </a>
    <!-- Portfolio -->
    <a
      href="https://portfolio-website-7qi.pages.dev/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fab fa-html5 icon"></i>
    </a>
    <!-- Email -->
    <a href="mailto:ehthishamulhaq18@gamil.com">
      <i class="fas fa-envelope icon"></i>
    </a>
  </div>
  <div>
    <p>© 2024 M Ehthishamul Haq. All Rights Reserved.</p>
  </div>
</footer>